/* CSS Document */

h1{
	border: solid;
	background-color: #E0D4C3;
	float: right;
	color: #FFFFFF;
	font-size: 55px;
	padding-top: 120;
	padding-left: 0px;
	
}
h2{
	border: solid;
	background-color: #E0D4C3;
	float: right;
	color: #FFFFFF;
	font-size: 30px;
	margin-top: 200px;
}

footer{
	
	padding-top: 10px;
	border:solid;
	background-color: #9FEB8B;
	text-align: center;
	max-width: 100%
	
}
nav ul a {
	padding:  4.2em;
}

nav{
	border: solid;
	border-color: #9FEB8B;
	width:auto;
	float: none;
	padding-right: 50px;
	justify-content: space-around;
	
}

body{
	background-color: #E0D4C3;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

main{
	font: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

.box{
	padding-top:1px;
	height: 600px;
	background-color: #EBA74D;
	background-image: url(images/farm.jpg);
	background-size: cover;
	}

header img{
	width: 100%;
	height: auto;
	display: block;
}

@media (max-width:768px){
	h1{
		font-size:40px;
		text-align: center;
		padding-left: 0px;
	}
}
@media (max-width:400px){
	h1{
		font-size:20px;
	}
}
