html {
	height: 100%;
	}

body {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;             
	-webkit-box-orient: vertical;             
	-webkit-box-direction: normal;             
	-ms-flex-direction: column;             
	flex-direction: column;
	background-color: #0d1424;
	min-height: 100vh;
	}


/* Mobile Phones */
@media only screen and (max-width: 599px) {
	.maximus_show, .medius_show, .minimus_hide { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	min-width: 100%;
	}
	
	p {
	padding: 0 5%;			
	}
	
	h1, h2, h3 {
	padding: 0 5%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.header_right {
	display: none;
	}
	
	.services_list {
	padding: 0 5%;
	}
	
	.about_badge_wrap_mighty {
	display: none;
	}
	
	.services_logo {
	padding: 10px 10%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 5%;
	}
	
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 1020px) {
	.maximus_show, .medius_show, .minimus_hide { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	min-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	}
	
	p {
	padding: 0 5%;			
	}
	
	h1, h2, h3 {
	padding: 0 5%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.header_right {
	display: none;
	}
	
	.services_list {
	padding: 0 5%;
	}
	
	.about_badge_wrap_mighty {
	display: none;
	}
	
	.services_logo {
	padding: 10px 10%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 5%;
	}
	
}
/* Tablet Landscape */
@media only screen and (min-width: 1021px) and (max-width: 1281px) {
	.maximus_show, .medius_hide, .minimus_show { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 180px;
	max-width: 100%;
	}
	
	p {
	padding: 0 15%;			
	}
	
	h1, h2, h3 {
	padding: 0 15%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.services_list {
	padding: 0 15%;
	}

	.about_badge_wrap_mini {
	display: none;
	}
	
	.bullet_time {
	padding: 0 15%;
	}
	
	.services_logo {
	padding: 40px 15%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 15%;
	}
	
	#navwrap {
	max-width: 100%;
	font-size: 12px;
	}
	.navprime > li {
		width: 160px;
	}
	
}

/* Desktop */
@media (min-width: 1281px) {
	.maximus_hide, .medius_show, .minimus_show { 
	display: none; 
	}
	
	.header_left {
	font-size: 16px;
	width: 33.3%;
	}

	.footer_center {
	font-size: 10px;
	}
	
	.content {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 180px;
	width: 1130px;
	}
	
	p {	
	padding: 0 15%;
	}
	
	h1, h2, h3 {
	padding: 0 15%;
	}
	
	.about_badge_wrap_mini {
	display: none;
	}
	
	.bullet_time {
	padding: 0 15%;
	}
	
	.services_logo {
	padding: 40px 15%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 15%;
	}
	#navwrap {
	font-size: 14px;
	}
	.navprime > li {
		width: 188px;
	}

	

}



.header {
	background-color: #0d1424;
	color: #edf3f9;
	width: 1130px;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, Arial, sans-serif;
	}

.header_left {
	color: #edf3f9;
	font-weight: bold;
	float:left;
	}

.header_left a {
	color: #edf3f9;
	text-decoration: none;
	}

.header_right {
	font-size: 16px;
	color: #edf3f9;
	font-weight: bold;    
	float:right;
	width: 33.3%;
	text-align: right;
	}
    
.header_right a {
	color: #edf3f9;
	}

.logowrap {
	margin: auto;
}

.logo {
    	max-width: 100%;
    	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.pipes_gradient {
	background: #6b8cad;
	padding: 30px 0;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(left, rgb(47, 82, 103, 0), #2f5267 25%, rgb(237, 243, 249, 0));
	background: linear-gradient(to right, rgb(47, 82, 103, 0), #2f5267 25%, rgb(237, 243, 249, 0));
	}
   
.content {
	background-color: #edf3f9;
  	-webkit-box-flex: 1;
  	    -ms-flex: 1;
  	        flex: 1;
	margin-left: auto;
	margin-right: auto;
-webkit-box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
-moz-box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
	}

.content a {
	color: #6b8cad;
	}

.content a:hover {
	color: #0d1424;
	}

p {
	font-size: 16px;
	line-height: 24px;
	font-family: Verdana, Arial, sans-serif;
	}

	p img {
		  float: right;
  vertical-align: middle;
  padding: 0 20px;
	}

h1 {
	font-size: 32px;
	font-weight: bold;
	color: #6b8cad;
	font-family: Georgia, Arial, sans-serif;
	}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #6b8cad;
	font-family: Georgia, Arial, sans-serif;
	}

h3 {
	font-size: 16px;
	font-weight: bold;
	color: #0d1424;
	font-family: Georgia, Arial, sans-serif;
	}
    
#navwrap {
	width: 1130px;
	height: 40px; 
	margin: auto; 
	z-index: 99;
	position: relative; 
	background-color: #0d1424;
	font-family: Georgia, Times New Roman, sans-serif;
	}
  
.navprime {
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
	display: block;
	}

.navprime > li {
	position: relative;
	float: left;
	display: block;
	background: #0d1424;
	} 

.navprime a {
	display: block;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	color: #edf3f9;
	font-weight: bold;
	}

.navprime a:hover {
	background-color: #ff0000;
	}

.navprime li ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display:none;
	}

.navprime > li:hover ul {
	display:block;
	}

.navprime li ul li {
	margin:10px 0 0 0;
}

input[type=checkbox] {
display:none;
}
 input[type=checkbox] + label
{
  float: right;
background: url("https://shishkaweasel.github.io/ravioli/images/tron_icon.png") no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label
{
  float: right;
background: url("https://shishkaweasel.github.io/ravioli/images/tron_icon.png") no-repeat;
height: 40px;
width: 40px;
display:inline-block;
padding: 0 0 0 0px;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ .navtron{
    display: block;
}


.navtron {
  	font-size: 12px;
	font-family: Georgia, Times New Roman, sans-serif;
	list-style: none;
  	display: none;
	position: absolute;
	padding: 10px;
	background: #0d1424;
	border: 5px solid #edf3f9;
	right: 20px;
	top: 60px;
	width: 50%;
	border-radius: 4px;
	}

.navtron li {
	float: left;
	text-align: center;
	width: 100%;

	}

.navtron a {
  display: block;
	text-decoration: none;
	color: #edf3f9;
	font-weight: bold;
  padding: 10px 0px;
	}
  
  .navtron a:hover {
	color: red;
	}
  
.navtron li ul {
  background-color: #edf3f9;
  width: 100%;
	list-style: none;
padding: 0;

	display:none;
	}
 .navtron li ul a {
     color: #0d1424;
 }

.navtron li:hover ul {
	display:inline-block;
	}

.footer {
	background-color: #0d1424;
	width: 1130px;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, Arial, sans-serif;
	}
    
.footer_center {
	color: #edf3f9;
	text-align: center;
	}

.about_badge_wrap_mini {
	text-align: center;
	height: auto;
		padding: 10px 5%;
}

.about_badge_wrap_mini img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.about_badge_wrap_mighty {
	height: auto;
	text-align: center;
	padding: 20px 20%;
}
.about_badge_wrap_mighty img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.bullet_time {

	list-style-image: url("../images/Spark.png");
	 list-style-position: inside;
	margin: 0;
	font-family: Verdana, Arial, sans-serif;}

.required:after { 
	color: #ff0000;
	content:" *"; 
}

#rungwrap {
	font-size: 16;
	font-family: Verdana, Arial, sans-serif;
}

.thumbnail {
	max-height: 170px;
	border: double 6px rgba(5, 5, 5, 0.8);
	}

.zoombox {
	position: fixed;
	text-align: center;
	z-index: 999;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	}


.zoombox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 5%;
	opacity: 0;
	}

.zoombox:target {
outline: none;
width: 100%;
height: 100%;
opacity: 1 !important;
}

.zoombox:target img {
opacity: 1;
}

	.zoombox a {
	color: #edf3f9;
	}
	
	.zoombox a:hover {
	color: #6b8cad;
	}

.zoom_button {
color: #edf3f9;
padding: 5px 15px;
text-decoration: none;
cursor: pointer;
vertical-align: middle;
position: absolute;
top: 45%;
z-index: 99;
}

.zoom_prev { left: 15%; }
.zoom_next { right: 15%; }
.zoom_close {
position: absolute;
padding: 10px 15px;
right: 5%;
top: 5%;
text-decoration: none;
}

.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.button:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 300px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

.butt {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.butt:hover {
  border-color: #999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.butt:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
