html {
	height: 100%;
	}

body {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;             
	-webkit-box-orient: vertical;             
	-webkit-box-direction: normal;             
	-ms-flex-direction: column;             
	flex-direction: column;
	background-color: #0d1424;
	min-height: 100vh;
	}


/* Mobile Phones */
@media only screen and (max-width: 599px) {
	.maximus_show, .medius_show, .minimus_hide { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	min-width: 100%;
	}
	
	p {
	padding: 0 5%;			
	}
	
	h1, h2, h3 {
	padding: 0 5%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.header_right {
	display: none;
	}
	
	.services_list {
	padding: 0 5%;
	}
	
	
	.about_badge_wrap_mighty {
	display: none;
	}
	
	.services_logo {
	padding: 10px 10%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 5%;
	}
	
}

/* Tablets */
@media only screen and (min-width: 600px) and (max-width: 1020px) {
	.maximus_show, .medius_show, .minimus_hide { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	min-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	}
	
	p {
	padding: 0 5%;			
	}
	
	h1, h2, h3 {
	padding: 0 5%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.header_right {
	display: none;
	}
	
	.services_list {
	padding: 0 5%;
	}
	
	.about_badge_wrap_mighty {
	display: none;
	}
	
	.services_logo {
	padding: 10px 10%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 5%;
	}

}
/* Tablet Landscape */
@media only screen and (min-width: 1021px) and (max-width: 1281px) {
	.maximus_show, .medius_hide, .minimus_show { 
	display: none; 
	}
	
	.pipes_gradient {
	max-width: 100%;
	}
	
	.content {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 180px;
	max-width: 100%;
	}
	
	p {
	padding: 0 15%;			
	}
	
	h1, h2, h3 {
	padding: 0 15%;
	}
	
	.footer {
	max-width: 100%;
	}
	
	.footer_center {
	font-size: 10px;
	}
	
	.header {
	max-width: 100%;
	}
	
	.header_left {
	font-size: 12px;
	width: 50%;
	}
	
	.services_list {
	padding: 0 15%;
	}

	.about_badge_wrap_mini {
	display: none;
	}
	
	.bullet_time {
	padding: 0 15%;
	}
	
	.services_logo {
	padding: 40px 15%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 15%;
	}
	
	#navwrap {
	max-width: 100%;
	font-size: 14px;
	}
	.navprime > li {
		width: 200px;
	}
	

}

/* Desktop */
@media (min-width: 1281px) {
	.maximus_hide, .medius_show, .minimus_show { 
	display: none; 
	}
	
	.header_left {
	font-size: 16px;
	width: 33.3%;
	}

	.footer_center {
	font-size: 10px;
	}
	
	.content {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 180px;
	width: 1130px;
	}
	
	p {	
	padding: 0 15%;
	}
	
	h1, h2, h3 {
	padding: 0 15%;
	}
	
	.about_badge_wrap_mini {
	display: none;
	}
	
	.bullet_time {
	padding: 0 15%;
	}
	
	.services_logo {
	padding: 40px 15%;
	text-align: center;
	}
	
	#rungwrap {
	padding: 0 15%;
	}
	.navprime > li {
		width: 226px;
	}
	

}



.header {
	background-color: #0d1424;
	color: #edf3f9;
	width: 1130px;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, Arial, sans-serif;
	}

.header_left {
	color: #edf3f9;
	font-weight: bold;
	float:left;
	}

.header_left a {
	color: #edf3f9;
	text-decoration: none;
	}

.header_right {
	font-size: 16px;
	color: #edf3f9;
	font-weight: bold;    
	float:right;
	width: 33.3%;
	text-align: right;
	}
    
.header_right a {
	color: #edf3f9;
	}

.logowrap {
	margin: auto;
}

.logo {
    	max-width: 100%;
    	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.pipes_gradient {
	background: #6b8cad;
	padding: 30px 0;
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(left, rgb(47, 82, 103, 0), #2f5267 25%, rgb(237, 243, 249, 0));
	background: linear-gradient(to right, rgb(47, 82, 103, 0), #2f5267 25%, rgb(237, 243, 249, 0));
	}
   
.content {
	background-color: #edf3f9;
  	-webkit-box-flex: 1;
  	    -ms-flex: 1;
  	        flex: 1;
	margin-left: auto;
	margin-right: auto;
-webkit-box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
-moz-box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
box-shadow: inset 0px 0px 20px 10px rgba(13,20,36,0.61);
	}

.content a {
	color: #6b8cad;
	}

.content a:hover {
	color: #0d1424;
	}

p {
	font-size: 16px;
	line-height: 24px;
	font-family: Verdana, Arial, sans-serif;
	}

	p img {
		  float: right;
  vertical-align: middle;
  padding: 0 20px;
	}

h1 {
	font-size: 32px;
	font-weight: bold;
	color: #6b8cad;
	font-family: Georgia, Arial, sans-serif;
	}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #6b8cad;
	font-family: Georgia, Arial, sans-serif;
	}

h3 {
	font-size: 16px;
	font-weight: bold;
	color: #0d1424;
	font-family: Georgia, Arial, sans-serif;
	}
    
#navwrap {
	width: 1130px;
	height: 40px; 
	margin: auto; 
	z-index: 99;
	position: relative; 
	background-color: #0d1424;
	font-family: Georgia, Times New Roman, sans-serif;
	}
  
.navprime {
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
	display: block;
	}

.navprime > li {
	position: relative;
	float: left;
	display: block;
	background: #0d1424;
	} 

.navprime a {
	display: block;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
	color: #edf3f9;
	font-weight: bold;
	}

.navprime a:hover {
	background-color: #ff0000;
	}

.navprime li ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display:none;
	}

.navprime > li:hover ul {
	display:block;
	}

.navprime li ul li {
	margin:10px 0 0 0;
}

.navtron {
	list-style: none;
	}

	.navtron li {
	display: inline-block;
	float: left;
	padding: 10px
	}

	#tron_icon {
	display: inline-block;
	float: right;
	width: 40px;
	height: 40px;
	background: #0d1424;
	}

	a:hover#tron_icon  {
	background-color: #ff0000;
	}
	
	#tronwrap ul, #tronwrap:active ul { 
	display: none;
	position: absolute;
	padding: 10px;
	background: #0d1424;
	border: 5px solid #edf3f9;
	right: 20px;
	top: 60px;
	width: 50%;
	border-radius: 4px;
	}
	
	#tronwrap a {
	display: block;
	text-decoration: none;
	color: #edf3f9;
	font-weight: bold;
	}

	#tronwrap a:hover {
	color: #6b8cad;
	}

	#tronwrap li {

	text-align: center;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	}

	#tronwrap:hover ul {
	display: block;
	}

	#tronwrap {
	float: right;
	font-size: 12px;
	font-family: Georgia, Times New Roman, sans-serif;
	}
.footer {
	background-color: #0d1424;
	width: 1130px;
	padding: 10px 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, Arial, sans-serif;
	}
    
.footer_center {
	color: #edf3f9;
	text-align: center;
	}

.about_badge_wrap_mini {
	text-align: center;
	height: auto;


		padding: 10px 5%;


}



.about_badge_wrap_mini img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.about_badge_wrap_mighty {
	height: auto;
	text-align: center;
	padding: 20px 20%;

}


.about_badge_wrap_mighty img {
float: left;
}

.bullet_time {

	list-style-image: url("../images/Spark.png");
	 list-style-position: inside;
	margin: 0;
	font-family: Verdana, Arial, sans-serif;}

.required:after { 
	color: #ff0000;
	content:" *"; 
}

#rungwrap {
	font-size: 16;
	font-family: Verdana, Arial, sans-serif;
}

